<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
  <style>
    .zc-ref {
      display: none;
    }
  </style>
</head>

<body>
  <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
  <script src="data.js" type="text/javascript"></script>
  <script>

    var chords = dataSet;
    //chords[0].NewRepublic

    var myConfig = {
      "type": "chord",
      "sort-objects": false,
      // <!-- "plotarea": {  -->
      //   <!-- "margin": "1px 1px 1px 1px"  -->
      // <!-- }, -->
      "options": {
        "angle-padding": 1,
        "band-width": 10,
        "band-space": 1,
        "radius": 300,
        "color-type": "palette",
        "palette": [
          "#1F45FC",
          "#2B60DE",
          "#151B8D",
          "#151B54",
          "#2B547E",
          "#737CA1",
          "#3090C7",
          "#5CB3FF",
          "#A0CFEC",
          "#C2DFFF",
          "#800517",
          "#9F000F",
          "#C24641",
          "#E41B17",
          "#CA226B",
          "#F75D59",
          "#E77471",
          "#FBBBB9",
          "#E56E94",
          "#FAAFBE"
        ],
        "style": {
          "chord": {
            "border-width": 0
          },
          "band": {
            "border-width": 0,
          },
          "tick": {
            "visible": false
          },
          "item": {
            "visible": false
          },
          "label": {
            "bold": true,
            "font-size": "10px",
            "font-family": "arial",
            "angle": 90,
            // <!-- "padding": "2px" -->
          }

        }
      },
      "tooltip": {

      },
      "series": [{
        "text": "New Republic",
        "values": chords[0].NewRepublic
      }, {
        "text": "Mother Jones",
        "values": chords[0].MotherJones
      }, {
        "text": "Slate",
        "values": chords[0].Slate
      }, {
        "text": "The Intercept",
        "values": chords[0].Intercept
      }, {
        "text": "The Daily Beast",
        "values": chords[0].DailyBeast
      }, {
        "text": "The Atlantic",
        "values": chords[0].Atlantic
      }, {
        "text": "Washington Post",
        "values": chords[0].WashPost
      }, {
        "text": "Politico",
        "values": chords[0].Politico
      }, {
        "text": "The Guardian",
        "values": chords[0].Guardian
      }, {
        "text": "BBC",
        "values": chords[0].BBC
      }, {
        "text": "Breitbart",
        "values": chords[0].Breitbart
      }, {
        "text": "Fox News",
        "values": chords[0].FoxNews
      }, {
        "text": "New York Post",
        "values": chords[0].NYPost
      }, {
        "text": "The American Conservative",
        "values": chords[0].AmerCons
      }, {
        "text": "Washington Times",
        "values": chords[0].WashTimes
      }, {
        "text": "Daily Wire",
        "values": chords[0].DailyWire
      }, {
        "text": "Reason",
        "values": chords[0].Reason
      }, {
        "text": "The Hill",
        "values": chords[0].Hill
      }, {
        "text": "The Fiscal Times",
        "values": chords[0].FiscalTimes
      }, {
        "text": "OANN",
        "values": chords[0].OANN
      }]
    };


    zingchart.render({
      id: 'myChart',
      data: myConfig,
      height: 1000, 
      width: 1000 
    });
  </script>
</body>

</html>