<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap/Bootswatch CSS -->
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">

  <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
  <title>News Project</title>
</head>

<body>
  <div class="container">
    <div class="row" id="first-row">
      <select class="custom-select col-md-6" id="first-cloud" onchange="firstOptionChanged(this.value)">  

      </select>
      <div class="first-image"></div>
      <select class="custom-select col-md-6" id="second-cloud" onchange="secondOptionChanged(this.value)">
      </select>
      <div class="second-image"></div>



    </div><!-- /first-row -->
  </div><!-- /container -->

<script src="{{ url_for('static', filename='charts.js') }}"></script>
<!-- <script src="../static/charts.js"></script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>