<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="PuddleNet: the story of (not)talking">
  <meta name="author" content="Group of concerned citizens">
  <title>PuddleNet: the story of (not)talking</title>

  <!-- Script for boxplot chart -->
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/grayscale.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">PuddleNet</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Visuals
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item js-scroll-trigger" href="#wordcloud">Word Clouds</a>
            <a class="dropdown-item js-scroll-trigger" href="#chord">Chord</a>
            <a class="dropdown-item js-scroll-trigger" href="#boxplot">Boxplot</a>
          </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="brand-heading">You first.</h1>
            <p class="intro-text">Have you ever wonder why Democrats and Republicans have so polirazed views on pretty much every aspect of social life? Do they even talk to each other?  That's what we are about to find out.
              <br>Created by Captain Bouncy and the Rodneys.</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About PuddleNet</h2>
          <p>Our project will scrape 10 right-leaning and 10 left-leaning news sites to feed the content into a machine learning algorithm.  We hope to teach the machine through unsupervised, deep learning, and natural language processing to determine if a body of text is right or left leaning.  </p>
          <p>Furthermore, as we create dimensions of data and extract features like date/time, title, text, authors, and keywords, we can begin to explore the data in new ways.  For example, we can see if a topic tended to have the right and left meet more in the middle, or if it made them polar opposites.  Viewing the same data, we can see if certain events led to bi-partisan alignment or if dates have an impact in general.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Plots Section -->

  <section id='wordcloud' class='content-section'>
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="container"><h2>Wordclouds</h2></div> -->
        <select class="custom-select col" id="first-cloud" onchange="firstOptionChanged(this.value)"></select>
        <select class="custom-select col" id="second-cloud" onchange="secondOptionChanged(this.value)"></select>
      </div>
      <div class="row">
        <figure class="first-image figure col-md-6"></figure>
        <div class="second-image col-md-6"></div>
        <!-- </div> -->
      </div>
    </div>
  </section>


  <section id="chord" class="content-section">
    <div class="container">
      <div class="row">        
        <div class="col-lg-4">
          <h2>Chord</h2>
          <p>Description here</p>
        </div>      
        <div class="col-lg-8">
          <figure class='figure'>
            <div id='chordChart'></div>
            <figcaption class="figure-caption">Links to each other.</figcaption>
          </figure>
        </div>      
      </div>
    </div>
  </section>

  <section id="boxplot" class="content-section">
    <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <figure class='figure'>
                <div id="leftDiv"></div>
                <figcaption class="figure-caption">Left-leaning websites.</figcaption>
              </figure>
            </div>
          <div class="col-lg-4">
            <h2>Boxplots</h2>
            <p>Description here</p>
          </div>
      </div>
      <div class="row">
          <figure class='figure'>
            <div id="rightDiv"></div>
            <figcaption class="figure-caption">Right-leaning websites.</figcaption>
          </figure>
      </div>
    </div>
  </section>

  
  
  
  
  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Custom plots -->
  <script src="{{ url_for('static', filename='js/boxplot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chord.js') }}"></script>

  <!-- Map Section -->
  <div id="map"></div>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; PuddleNet 2018</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2vE0o9iazl4YrCqQFhunxphsd9ICq6eM&sensor=false"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>

</body>

</html>